@* @model SergRasKoin.Models.BuyViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Покупка SergRasKoin</title>
</head>
<body>
    <h1>Buy CryptoCurrency</h1>
    <form method="post">
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="Name" value="@Model.Name" /><br />

        <label for="surname">Surname:</label><br />
        <input type="text" id="surname" name="Surname" value="@Model.Surname" /><br />

        <label for="email">Email:</label><br />
        <input type="text" id="email" name="Email" value="@Model.Email" /><br />

        <label for="count">Count:</label><br />
        <input type="text" id="count" name="Count" value="@Model.Count" /><br />
        <input type="submit" value="Buy" />
    </form>
</body>
</html> *@
